fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
firebase-admin
sqlalchemy[asyncio]
asyncpg
alembic
langchain
langchain-google-genai
langchain-groq
langchain-openai
python-multipart
PyMuPDF
python-docx
qdrant-client
redis
qdrant-client
redis
websockets
elevenlabs
openai
aiosqlite
httpx
