fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
firebase-admin
sqlalchemy[asyncio]
aiosqlite
asyncpg
python-multipart
PyMuPDF
python-docx
langchain
langchain-google-genai
langchain-groq
langchain-openai
httpx
